@font-face {
  font-family: cereal;
  src: url(../fonts/Airbnb_Cereal-Book.ttf);
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/Airbnb_Cereal-Medium.ttf);
}

@font-face {
  font-family: Circular-bold;
  src: url(../fonts/Airbnb_Cereal-Bold.ttf);
}
