@font-face {
    font-family: Bahnschrift;
    src: url(~@/assets/fonts/Bahnschrift/bahnschrift.ttf);
}

@font-face {
    font-family: bold;
    src: url(~@/assets/fonts/Airbnb_Cereal-Bold.ttf);
    // src: url(~@../../fonts/Airbnb_Cereal-Bold.ttf);
}

@font-face {
    font-family: medium;
    src: url(~@/assets/fonts/Airbnb_Cereal-Medium.ttf);
    // src: url(../../fonts/Airbnb_Cereal-Medium.ttf);
}

@font-face {
    font-family: book;
    src: url(~@/assets/fonts/Airbnb_Cereal-Book.ttf);
    // src: url(../../fonts/Airbnb_Cereal-Book.ttf);
}