.header-container {
  position: -webkit-sticky;
  position: sticky;
  height: 80px;
  box-shadow: inset 0 -1px 0 0 #898b9023;
  background-color: white;
  top: 0px;
  width: 100%;
  z-index: 10;
  // margin-bottom: 31px;
  // contain: size style layout;
  // display: block;
  // @include for-narrow-layout {
  //   background: white;

  //   : fixed;
  // }
}

.header-container.open-modal {
  box-shadow: none;
  @include for-narrow-layout {
    height: auto;
    background: white;
    position: sticky;
    padding-top: 14px;
  }
}
