.guest-dropdown {
  position: absolute;
  background-color: white;
  border-radius: 32px;
  padding: 16px 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  z-index: 2;
  top: 100px;
  right: 0;
  width: 400px;
  height: 380px;
}
.guest-container-reserve {
  // before of guest-container
  width: 100%;
  border-radius: 32px;
}

.guest-container {
  // after
  text-align: left;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 1px;
  appearance: none;
  overflow: visible;
  user-select: auto;
  outline: none;
  display: block;
  flex: 1 0 0%;
  width: 0;
  z-index: 1;
  border-radius: 32px;
  .guest-wraper {
    // before
    // padding: 14px 24px 14px 25px;
    // after
    padding: 14px 24px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    border-radius: 32px;
    .header {
      // before
      // font-size: 11.7px;
      // font-family: Circular-bold;
      // letter-spacing: 0.76px;
      // width: 130px;
      // after
      padding-bottom: 2px;
      font-size: 11.6px;
      line-height: 16px;
      // font-weight: var(--h-oqhch);
      letter-spacing: 0.04em;
    }

    .text {
      // before
      font-size: 14px;
      // letter-spacing: 0.2px;
      font-family: cereal;
      color: #717171;
      // margin-top: 3px;
      // after
      font-size: 14px;
      line-height: 18px;
      color: #717171;
      // font-weight: var(--e-y-j-d-v-j);
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

.guest-container.unselected-picker:hover {
  background-color: #ebebeb;
}

.selected-guest {
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.guest-reserve {
  border: 1px solid #b0b0b0;
  border-radius: 0 0 0.55rem 0.55rem;
  padding: 14px;
  margin-bottom: 15px;

  .input-guests-reserve {
    border: none;
    background-color: transparent;
  }

  .guest-reserve-label {
    font-size: 11.8px;
    font-family: Circular-bold;
    letter-spacing: 0.65px;
    width: 130px;
  }
}
