.guest-dropdown {
  position: absolute;
  background-color: white;
  border-radius: 32px;
  padding: 16px 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  z-index: 2;
  top: 100px;
  right: 0;
  width: 400px;
  height: 380px;
}

.guest-container {
  // ! notify  Amit and Ron that the width may brake their code
  width: 100%;
  border-radius: 32px;
  .guest-wraper {
    padding: 14px 24px 14px 25px;
    .header {
      font-size: 11.7px;
      font-family: Circular-bold;
      letter-spacing: 0.76px;
      width: 130px;
    }
    .text {
      font-size: 14px;
      // letter-spacing: 0.2px;
      font-family: cereal;
      color: #717171;
      margin-top: 3px;
    }
  }
}

.guest-container.unselected-picker:hover {
  background-color: #ebebeb;
}
.selected-guest {
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.guest-reserve {
  border: 1px solid #b0b0b0;
  border-radius: 0 0 13px 13px;
  padding: 10px 24px;
  margin-bottom: 15px;
  .input-guests-reserve {
    border: none;
    background-color: transparent;
  }
}
