header {
  //   background-color: #535353;
  /* outline: 1px solid black; */
  //   box-shadow: inset 0 -1px 0 0 #898b90;
  //   z-index: 1;
  //   width: 100%;
}

.branding {
  flex: 1 0 140px;
  @include for-large-layout {
    flex: 1 0 90px;
  }

  @include for-normal-layout {
    flex: 0;
  }
}

.bar {
  flex: 1 0 140px;

  & .explore {
    padding: 10px;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.2px;
  }

  & .switch {
    padding: 10px;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.2px;
  }

  & .globe {
    // padding: 10px 10px 5px 10px;
  }

  & .user:hover {
    box-shadow: 0 1px 3px rgba(0 0 0 / 8%), 0 4px 12px rgba(0 0 0 / 5%);
    -webkit-transition: box-shadow 0.2s ease;
  }

  > *:not(:last-child) {
    margin-right: 15px;
  }

  > *:not(:last-child):hover {
    background-color: rgba(0 0 0 / 3%);
    border-radius: 40px;
  }

  > *:hover {
    cursor: pointer;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .dropdown {
    padding: 5px 5px 5px 16px;
    span {
      display: block;
      font-size: 15px;
    }
    & > img {
      margin-left: 12px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    & > span {
      color: dark;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

// .navigation li {
//   text-transform: uppercase;
//   padding: 16px;
//   margin-left: 16px;
// }

.search {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0 0 0 / 8%), 0 4px 12px rgba(0 0 0 / 5%);
  -webkit-transition: box-shadow 0.2s ease;
  height: 48px;
  padding-left: 10px;
  & > span {
    font-size: 20px;
  }

  &:hover {
    box-shadow: 0 2.5px 2px rgba(0 0 0 / 10%), 0 4px 12px rgba(0 0 0 / 5%);
  }

  & > button {
    cursor: pointer;
    font-size: 14px;
    font-family: circular;
    line-height: 18px;
    padding: 0;
    background-color: rgb(0 0 0 / 0%);
    height: 48px;
  }
  & > button {
    & > span {
      box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.105);
      padding: 3px 16px;
      font-weight: 500;
      color: #222222;
    }
    & > div {
      padding: 0 16px;
    }
  }
  .guest {
    color: #717171bf;
    letter-spacing: -0.15px;
  }
  &-logo {
    margin: 7px 7px 7px 0;
    background-color: #ff385c;
    border-radius: 50%;
    padding: 16px;
    height: 30px;
    width: 30px;
    position: relative;
    i {
      position: absolute;
      color: white;
      font-size: 12px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include for-normal-layout {
    margin: 0 24px;
  }
}

// .link {
//   font-size: 20px;
//   transition: 0.5s ease all;
//   padding-bottom: 4px;
//   border-bottom: 1px solid transparent;
//   color: white;
// }

// .link:hover {
//   color: #00afea;
//   border-color: #00afea;
// }

// .branding {
//   display: flex;
//   align-items: center;
// }

.branding a {
  // height: 80px;
  //   width: 200px;
}

.branding img {
  width: 36px;
}

// img {
//   width: 50px;
//   transition: 0.5s ease all;
// }

// .navigation {
//   display: flex;
//   align-items: center;
//   flex: 1;
//   justify-content: end;
// }

// .icon {
//   display: flex;
//   position: absolute;
//   top: 0;
//   align-items: center;
//   right: 24px;
//   height: 100%;
// }

// span {
//   cursor: pointer;
//   /* font-size: 24px; */
//   /* transition: 0.8s ease all; */
// }

// .icon-active {
//   transform: rotate(180deg);
// }

// .dropdown-nav {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   width: 100%;
//   max-width: 200px;
//   height: 120px;
//   background-color: #a9a9a9f4;
//   border-radius: 20px;
//   padding: 10px;
//   top: 110px;
//   right: -30px;
//   z-index: 2;
// }

// .mobile-nav-enter-active,
// .mobile-nav-leave-active {
//   transition: 1s ease all;
// }

// .mobile-nav-enter-from,
// .mobile-nav-leave-to {
//   transform: translateX(45px);
// }

// .mobile-nav-enter-to {
//   transform: translateX(0);
// }

// .dropdown-nav li {
//   margin-left: 10px;
//   margin-bottom: 7px;
// }

// .dropdown-nav li .link {
//   color: black;
// }

// .dropdown-nav li i {
//   color: black;
// }
/* i{
        color:black
    } */

.modal-screen {
  background-color: rgb(0 0 0 / 25%);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.search-modal {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 100%;
  left: 0;
  & > .search-bar {
    // general
    width: 850px;
    height: 66px;
    border-radius: 32px;
    position: relative;
    padding-left: 0;
    border: 1px solid #dddddd;
    margin-top: -1px;
    margin-bottom: 15px;
    // destination section
    .dest-container {
      height: 66px;
      width: 268px;
      border-radius: 32px;
      .dest-wraper {
        margin-left: 31.5px;
        box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.105);
        // height: 10px;
        width: inherit;
        .header {
          font-size: 12px;
          font-family: Circular-bold;
          letter-spacing: 0.5px;
        }
        .text {
          border: none;
          outline: none;
          background-color: inherit;
        }
        .text::placeholder {
          position: relative;
          left: -2px;
          font-size: 14px;
          font-family: cereal;
        }
      }
    }
    .dest-container.selected-picker:hover {
      background-color: #ebebeb;
      .dest-wraper {
        box-shadow: none;
      }
    }

    // destination section
    .date-component {
      //  go to file _date-picker.scss
      // .date-container {
      //   .date-wraper {
      //     .start-date {
      //     }
      //   }
      // }
    }
    .selected-picker:hover {
      background-color: #ebebeb;
    }
  }

  & > .search-bar.search-modal-active {
    background-color: #f7f7f7;
  }
}

.modal-header {
  box-shadow: none;
}

.line {
  height: 32px;
  width: 1px;
  position: absolute;
  left: 52.7%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.105);
  & .dummy {
    visibility: hidden;
  }
}

.guest-modal {
  // this is the line for guest
  // box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.105);
  // margin-left: 10px;
  padding-left: 25px;

  & .header {
    font-size: 11.7px;
    font-weight: 600;
    letter-spacing: 0.76px;
    color: #000000;
  }

  & .text {
    font-size: 14px;
    // letter-spacing: 0.2px;
    color: #717171;
    margin-top: 3px;
  }
}

.search-modal-logo {
  margin: 8px 10px 7px 0;
  background-color: #ff385c;
  border-radius: 50%;
  padding: 16px;
  height: 48px;
  width: 48px;
  position: absolute;
  right: 0;
  i {
    position: absolute;
    color: white;
    font-size: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-txt {
    // color: black;
  }
}

.search-modal-logo-open {
  margin: 8px 10px 7px 0;
  background: linear-gradient(#e61e4d 0%, #e31c5f 50%, #d70466 100%);
  border-radius: 32px;
  padding: 16px;
  height: 48px;
  width: 111px;
  position: absolute;
  right: 0;
  i {
    // position: absolute;
    color: white;
    font-size: 15px;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }
  &-txt {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 4px;
    color: white;
    // color: black;
  }
}
// .nav-modal {
//   height: 160px;
// }

.selected-dest {
  background-color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.selected-guest {
  background-color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
