header {
  //   background-color: #535353;
  /* outline: 1px solid black; */
  //   box-shadow: inset 0 -1px 0 0 #898b90;
  //   z-index: 1;
  //   width: 100%;
}

.branding {
  flex: 1 0 140px;
  @include for-large-layout {
    flex: 1 0 90px;
  }

  @include for-normal-layout {
    flex: 0;
  }
}

.bar {
  flex: 1 0 140px;

  > *:nth-child(1) {
    padding: 10px;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.2px;
  }

  > *:nth-child(2) {
    // padding: 10px;
  }

  > *:nth-child(3) {
    padding: 10px 10px 5px 10px;
  }

  > *:nth-child(4):hover {
    box-shadow: 0 1px 3px rgba(0 0 0 / 8%), 0 4px 12px rgba(0 0 0 / 5%);
    -webkit-transition: box-shadow 0.2s ease;
  }

  > *:not(:last-child) {
    margin-right: 15px;
  }

  > *:not(:last-child):hover {
    background-color: rgba(0 0 0 / 3%);
    border-radius: 40px;
  }

  > *:hover {
    cursor: pointer;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .dropdown {
    padding: 5px 5px 5px 16px;
    span {
      display: block;
      font-size: 15px;
    }
    & > img {
      margin-left: 12px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    & > span {
      color: dark;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

// .navigation li {
//   text-transform: uppercase;
//   padding: 16px;
//   margin-left: 16px;
// }

.search {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0 0 0 / 8%), 0 4px 12px rgba(0 0 0 / 5%);
  -webkit-transition: box-shadow 0.2s ease;
  height: 48px;
  padding-left: 10px;
  & > span {
    font-size: 20px;
  }

  & > button {
    cursor: pointer;
    font-size: 14px;
    font-family: circular;
    line-height: 18px;
    padding: 0;
    background-color: rgb(0 0 0 / 0%);
    height: 48px;
  }
  & > button {
    & > span {
      box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.105);
      padding: 3px 16px;
      font-weight: 500;
      color: #222222;
    }
    & > div {
      padding: 0 16px;
    }
  }
  .guest {
    color: #717171bf;
    letter-spacing: -0.15px;
  }
  &-logo {
    margin: 7px 7px 7px 0;
    background-color: #ff385c;
    border-radius: 50%;
    padding: 16px;
    height: 30px;
    width: 30px;
    position: relative;
    i {
      position: absolute;
      color: white;
      font-size: 12px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include for-normal-layout {
    margin: 0 24px;
  }
}

// .link {
//   font-size: 20px;
//   transition: 0.5s ease all;
//   padding-bottom: 4px;
//   border-bottom: 1px solid transparent;
//   color: white;
// }

// .link:hover {
//   color: #00afea;
//   border-color: #00afea;
// }

// .branding {
//   display: flex;
//   align-items: center;
// }

.branding a {
  // height: 80px;
  //   width: 200px;
}

.branding img {
  width: 36px;
}

// img {
//   width: 50px;
//   transition: 0.5s ease all;
// }

// .navigation {
//   display: flex;
//   align-items: center;
//   flex: 1;
//   justify-content: end;
// }

// .icon {
//   display: flex;
//   position: absolute;
//   top: 0;
//   align-items: center;
//   right: 24px;
//   height: 100%;
// }

// span {
//   cursor: pointer;
//   /* font-size: 24px; */
//   /* transition: 0.8s ease all; */
// }

// .icon-active {
//   transform: rotate(180deg);
// }

// .dropdown-nav {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   width: 100%;
//   max-width: 200px;
//   height: 120px;
//   background-color: #a9a9a9f4;
//   border-radius: 20px;
//   padding: 10px;
//   top: 110px;
//   right: -30px;
//   z-index: 2;
// }

// .mobile-nav-enter-active,
// .mobile-nav-leave-active {
//   transition: 1s ease all;
// }

// .mobile-nav-enter-from,
// .mobile-nav-leave-to {
//   transform: translateX(45px);
// }

// .mobile-nav-enter-to {
//   transform: translateX(0);
// }

// .dropdown-nav li {
//   margin-left: 10px;
//   margin-bottom: 7px;
// }

// .dropdown-nav li .link {
//   color: black;
// }

// .dropdown-nav li i {
//   color: black;
// }
/* i{
        color:black
    } */

.modal-screen {
  background-color: rgb(0 0 0 / 25%);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.search-modal {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 100%;
  left: 0;
  & > .search {
    width: 850px;
    margin: auto;
    height: 63px;
    border-radius: 32px;
    position: relative;
    // border: 1px solid rgba(0, 0, 0, 0.086);
    // when clicked a button give a soft light gray background color
    // background-color: rgba(0, 0, 0, 0.063);
    margin-bottom: 15px;
    & > label {
      & > .destination {
        & > .header {
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.8px;
        }
        & > .text {
          font-size: 12px;
          border: none;
        }
        & > .text::placeholder {
          position: relative;
          left: -3px;
          font-size: 14px;
          letter-spacing: 0.2px;
        }
      }
      box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.105);
      padding-left: 22px;
      padding-right: 86px;
    }

    & .test {
      // opacity: 1;
      position: relative;
      // left: 300px;
      // z-index: -1;
      // display: none;
    }

    & .date-picker {
      width: 360px;
      opacity: 0;
      // position: relative;
      // z-index: -1;
      // display: none;
    }
  }
}

.modal-header {
  box-shadow: none;
}

.start-date {
  position: absolute;
  left: 38.5%;
  top: 50%;
  transform: translate(-50%, -50%);

  // left: 680px;
  // top: 10px;
  // z-index: 5;
  & .header {
    font-size: 11.7px;
    font-weight: 600;
    letter-spacing: 0.76px;
  }

  & .text {
    font-size: 14px;
    // letter-spacing: 0.2px;
    color: #717171;
    margin-top: 3px;
  }
}

.line {
  height: 32px;
  width: 1px;
  position: absolute;
  left: 52.7%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.105);
  & .dummy {
    visibility: hidden;
  }
}

.end-date {
  position: absolute;
  left: 59.6%;
  top: 50%;
  transform: translate(-50%, -50%);

  // left: 680px;
  // top: 10px;
  // z-index: 5;
  & .header {
    font-size: 11.7px;
    font-weight: 600;
    letter-spacing: 0.76px;
  }

  & .text {
    font-size: 14px;
    // letter-spacing: 0.2px;
    color: #717171;
    margin-top: 3px;
  }

  &:hover {
    background-color: #000000;
  }
}

end-date:hover {
  background-color: #000000;
}

.guest {
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.105);
  // margin-left: 10px;
  padding-left: 25px;

  & .header {
    font-size: 11.7px;
    font-weight: 600;
    letter-spacing: 0.76px;
    color: #000000;
  }

  & .text {
    font-size: 14px;
    // letter-spacing: 0.2px;
    color: #717171;
    margin-top: 3px;
  }
}

.search-modal-logo {
  margin: 8px 10px 7px 0;
  background-color: #ff385c;
  border-radius: 50%;
  padding: 16px;
  height: 48px;
  width: 48px;
  position: absolute;
  right: 0;
  i {
    position: absolute;
    color: white;
    font-size: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
// .nav-modal {
//   height: 160px;
// }
