.filter-container {
    margin-bottom: 2rem;

    .btn-filter {
        height: 3rem;
        width: 5.6875rem;
        border-radius: 0.75rem;
        background-color: white;
        border: 1px solid #dddddd;
        padding: 7px 0;

    }
}