.details-page {
    .header-details {
        padding-top: $padding-details-small;
        
        .stay-name {
            margin-bottom: 0.7rem;

            font-size: 26px;
        }

        .stay-info {

            .stay-reviews-info {

                text-decoration: underline;
                font-size: 14px;
            }

            .stay-super-host {
                font-family: cereal;
                font-size: 14px;
            }

            .award-symbol-info {

                padding: 5px;
            }
        }
    }

    .img-gallery {
        padding-top: $padding-details-small;
    }

    .bottom-area-details {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 90px;
        grid-row-gap: 0px;

        .reserve {
           

            .reserve-area {
                margin-top: 48px;
                padding: 24px;
                border-radius: 12px;
                border: 1px solid #ddd;
                box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
                grid-area: 1 / 2 / 2 / 3;
                position: sticky;
                top: 0;
                align-items: center;
                justify-content: center;
            }

            .reserve-header{
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .details-info {
            grid-area: 1 / 1 / 2 / 2;
        }

        .host-info {
            display: flex;
            justify-content: space-between;
            // width: 700px;
            padding-top: $padding-details-big;
            padding-bottom: $padding-details-small;

            .host-name {
                // font-weight: 600;

                font-size: 22px;
            }

            .host-img {
                border-radius: 50%;
                object-fit: cover;
                width: 3.5rem;
                height: 3.5rem;
            }

            .rooms-info {
                font-family: cereal;
            }
        }

        .bnb-btn {
            background-image: radial-gradient(circle at center, #ff385c 0, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
            transition: opacity 1.25s ease 0s !important;
            // min-width: 200px;
            background-size: 200% 200%;
            background-position: calc((100 - var(--mouse-x, 0))*1%) calc((100 - var(--mouse-y, 0))*1%);
            border: none;
            height: 3rem;
            width: 100%;
            color: rgb(255 255 255);
            font-family: cereal;
            border-radius: 0.55rem;
        }




        .amenities-area {
            padding-top: $padding-details-big;
            padding-bottom: $padding-details-big;

            .amenities-ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
            }

            .amenities-title {
                font-size: 22px;
                margin-bottom: $padding-details-small;
            }

            .amenities-prop {
                font-family: cereal;
            }

            .amenities-symbol {
                padding-inline-end: 1rem;
            }

            .amenities-container {
                display: flex;
                width: 250px;
                padding-bottom: 1rem;
            }

        }


    }

    .reviews-area {
        padding: 48px 0;

        .review-rating {
            margin-bottom: 32px;
            font-size: 22px;

            .star-rating {
                font-size: 15px;
            }
        }

        .reviews-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px 100px;
        }

        .review-score {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px 100px;
            margin-bottom: 40px;

        }

        .review-container {

            margin-bottom: 40px;

            .review-info {
                align-items: center;
                gap: 20px;
                padding-bottom: 10px;

                .user-img {
                    border-radius: 50%;
                    object-fit: cover;
                    width: 3.5rem;
                }

                .user-name-review {
                    font-size: 16px;
                }

                .review-date {
                    font-size: 14px;
                    font-family: cereal;
                    color: $clr2;
                }


                .user-info {
                    margin-inline-start: 1rem
                }
            }

            .review-txt {
                font-family: cereal;
            }
        }
    }
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 5px;
}

progress::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 40px;
    width: 100%;
    height: 4px;
}

progress::-webkit-progress-value {
    background: $clr1;
    border-radius: 40px;
}

.score-title {
    font-family: cereal;
    font-size: 1rem;
}

.score-number {
    font-family: Circular-bold;
    font-size: 12px;
    margin-inline-start: 10px;
}