.main-layout {
  padding-left: 80px;
  padding-right: 80px;
  max-width: 1760px;
  margin: auto;
  // @include for-wide-layout {
  //   @include layoutGTC($break-wide);
  // }

  @include for-large-layout {
    padding-left: 40px;
    padding-right: 40px;
  }

  // @include for-normal-layout {
  // }

  // @include for-narrow-layout {

  // }

  @include for-slim-layout {
    padding-left: 25px;
    padding-right: 25px;
  }

  // @include for-mobile-layout {
  //   padding-left: 25px;
  //   padding-right: 25px;
  // }
}

// .main-text {
//   margin-bottom: rem(90px);
// }
